@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-shadow: none;
  box-sizing: border-box;
 }


:root {
  --primary-color: #2870fa;
  --secondry-color: #f78d05;
  --third-color: #ff8909;
  --white-color: #fff;
  --black-color: #141615;
  --black-color2: #202020;
  --black-color3:#212529;
  --lightgray-color:#e7e6e6;
  --gray-color:#a1a1a1;
  --facebook-color:#3B5998;
  --instagram-color:#962fbf;
  --youtube-color:#c4302b;
  --background-color:#fafafa;

}

img {
  max-width: 100% !important;
}

body {
font-family: 'Poppins', sans-serif;
}

body,
html {
  scroll-behavior: smooth;
   font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none !important;
  }

a:focus {
  outline: none;
  text-decoration: none;
}

/* top bar css start */
.top_bar_anya_section {
  padding: 5px 0px;
  border-bottom: 1px double #e7e6e6;
  border-top: 2px solid var(--primary-color);
}

.anya_left_side_top a {
  font-weight: normal;
  font-size: 14px;
  color: var(--gray-color);
}

.anya_left_side_top a span {
  padding-right: 5px;
}

.anya_left_side_top a:hover {
  color: var(--primary-color);
}

.anya_left_side_top a span {
  color: var(--third-color);

}

.anya_left_side_top a:nth-child(1) {
  border-right: 1px double var(--lightgray-color);
  padding: 0px 15px 0px 0px;
}

.anya_left_side_top a:nth-child(2) {
  padding: 0px 7px 0px 7px;
  border-right: 1px double var(--lightgray-color);
}

.anya_left_side_top a:nth-child(3) {
  padding: 0px 7px 0px 7px;
  border-right: 1px double var(--lightgray-color);
  display: none;
}

.anya_center_input_topbar{
  text-align: center !important;
}

.anya_center_input_topbar .input-group ::placeholder {
  font-size: 14px;
  font-weight: 400;
}

.anya_center_input_topbar .input-group input[type="text"] {
 font-size: 14px;
}

.anya_center_input_topbar .input-group input {
  margin-bottom: 0px;
  box-shadow: none !important;
  border-radius: 0px !important;
  outline: none !important;
  padding: 3px 0px 3px 10px;
  border-top-left-radius: 100px !important;
    border-bottom-left-radius: 100px !important;
}

.anya_center_input_topbar .input-group-text {
  margin-bottom: 0px;
  box-shadow: none !important;
  border-radius: 0px !important;
  outline: none !important;
  background-color: transparent !important;
  padding-top:7px;
  color: var(--black-color2);
  border-top-right-radius: 100px !important;
  border-bottom-right-radius: 100px !important;
   
}

.anya-right_side_top {
 text-align: right;
}

.anya-right_side_top a:nth-child(1) {
  border-right: 1px double var(--lightgray-color);
  padding: 0px 7px 0px 0px;
  font-weight: normal;
  font-size: 14px;
  color: var(--gray-color);
}

.anya-right_side_top a:hover:nth-child(1) {
  border-right: 1px double var(--lightgray-color);
  padding: 0px 7px 0px 0px;
  font-weight: normal;
  font-size: 14px;
  color: var(--primary-color);
}

.anya-right_side_top a span {
  padding-right: 5px;
}

.anya-right_side_top a:nth-child(2) {
  border-right: 1px double var(--lightgray-color);
  padding: 0px 7px 0px 7px;
  font-weight: normal;
  font-size: 14px;
  color: var(--gray-color);
}


.anya-right_side_top a:nth-child(3) {
  border-right: 1px double var(--lightgray-color);
  padding: 0px 7px 0px 7px;
  font-weight: normal;
  font-size: 14px;
  color: var(--gray-color);
}

.anya-right_side_top a:nth-child(4) {
  border-right: 1px double var(--lightgray-color);
  padding: 0px 7px 0px 7px;
  font-weight: normal;
  font-size: 14px;
  color: var(--gray-color);
}

/* top bar css end */


/* navbar css */

.navbar-toggler {
  background-color: transparent !important;
  border: 0px !important;
  outline: none !important;
  box-shadow: none !important;
}

.navbar {
  background-color: #fff !important;
  outline: none;
  border: none;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
  padding: 0 !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: .4s ease-in-out;
}

.navbar-brand {
  width: 290px;
}

.navbar .navbar-nav .active {
  color: var(--primary-color);
  font-weight: 500;
  transition: .4s ease-in-out;
}

.navbar .navbar-nav > li > a {
  color: var(--black-color);
  font-size: 14px;
  padding: 32px 13px !important;
  letter-spacing: .3px;
  transition: .4s ease-in-out;
}

.navbar .navbar-nav > li > a:hover {
  color: var(--primary-color) !important;
  transition: .4s ease-in-out;
}

.navbar_anya_icons a {
  vertical-align: middle;
  align-items: center;
  transition: .4s ease-in-out;
}

.navbar_anya_icons{
  float: right;
  transition: .4s ease-in-out;
}

.navbar-nav > .dropdown > .dropdown-menu{
  padding: 0px !important;
  border-radius: 0px !important;
  outline: none !important;
  border: none !important;
  width: 270px;
}

.navbar-nav > .dropdown:hover > .dropdown-menu{
  display: block;
    border-top: 3px solid var(--black-color3) !important;
 }

.navbar-nav > .dropdown > .dropdown-menu > li{
  border-bottom: 1px dashed  var(--lightgray-color);
  transition: .4s ease-in-out;
  text-transform: capitalize;
  line-height: 28px;
}

.navbar-nav > .dropdown > .dropdown-menu > li > a{
font-size: 14px;
font-weight: 400;
transition: .4s ease-in-out;
text-transform: capitalize;
}

.navbar-nav > .dropdown > .dropdown-menu > li > a:hover {
  font-size: 14px;
  font-weight: 400;
  transition: .4s ease-in-out;
  background-color: var(--black-color3);
  color: var(--white-color);
}

.any-submenu i{
  float: right !important;
  font-size: 15px;
    line-height: 28px;
}

.any-submenu:hover > ul.dropdown-menu {
  display: block !important;
      border-top: 3px solid var(--secondry-color) !important;
}

.any-submenu {
  position: relative;
}

.any-submenu>.dropdown-menu {
  top: 0;
  left: 100% !important;
  margin-top: -3px;
  background-color: #fff !important;
  padding: 0;
outline: none !important;
box-shadow: none !important;
border-radius: 0px !important;
border: none !important;
}

.any-submenu > .dropdown-menu li > a {
  background-color: transparent !important;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: .2px;
  border-bottom: 1px dashed lightgray;
  transition: .3s ease-in-out;
 
}


.any-submenu>.dropdown-menu li>a:hover {
  background-color: var(--secondry-color) !important;
    color: var(--white-color) !important;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: .2px;
    border-bottom: 1px dashed lightgray;
    transition: .3s ease-in-out;

}

.any-submenu span {
  font-size: 12px !important;
  float: right;
  line-height: 30px;
  padding: 0px 10px;
}



.navbar_anya_icons a:nth-child(1) {
  margin: 20px 13px;
  background-color: var(--white-color);
  padding: 10px 30px 10px 30px;
  color: var(--secondry-color);
  font-size: 14px;
  border-radius: 100px;
  font-weight: 500;
  transition: .4s ease-in-out;
  border: 1px solid var(--lightgray-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar_anya_icons a:hover:nth-child(1) {
  margin: 20px 13px;
  background-color: var(--black-color);
  padding: 10px 30px 10px 30px;
  color: var(--white-color);
  font-size: 14px;
  border-radius: 100px;
  font-weight: 500;
  transition: .4s ease-in-out;
    border: 1px solid var(--black-color);
}

.navbar_anya_icons .bx {
  margin-right: 3px;
  font-weight: 500;
  transition: .4s ease-in-out;

}

.navbar_anya_icons a:hover:nth-child(1) .bx {
  color: var(--white-color);
  transition: .4s ease-in-out;
}



.menu-area {
  position: static;
}

.mega-menu{
  position: absolute;
  width: 98% !important;
  left: 50% !important;
  transform: translateX(-50%);
  top: 95%;
  overflow-x: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

 .mega_div_box li a {
   text-transform: capitalize;
   transition: .3s;
   line-height: 26px;
   font-size: 14px !important;
 padding: 1px 0px !important;
  font-weight: 400;
   white-space: break-spaces;
   background-color: transparent !important;
   color: var(--black-color3) !important;
 
 }

 .mega_div_box i{
  color: var(--secondry-color);
 }

 .mega_div_box li {
   border-bottom: 1px dashed lightgray;
    padding: 4px 0px !important;
    transition: .5s ease-in-out;
 }

 .mega_div_box li a:hover {
   transition: .5s ease-in-out;
   margin: 0px 5px;
    color: var(--secondry-color) !important;
 }

 .active-li{
  color: red !important;
 }

/* navbar css end */

/*  */

.offcanvas.offcanvas-start{
  z-index: 99999;
}

.offcanvas_btn {
  border: none !important;
  border-radius: 0px !important;
  outline: none !important;
  font-size: 23px;
  display: none;
  box-shadow: none !important;
}

/* mobile menu css  */
.offcanvas {
  padding: 0;
  margin: 0;
}

.offcanvas-header {
  border-bottom: 1px solid lightgray;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}


.offcanvas-header {
  border-bottom: 2px solid var(--primary-color);
  background-color: #ffffff;
  padding: 5px 15px 5px 10px;
  margin: 0;
  border-top: 2px solid #fff;

}

.offcanvas-header .offcanvas-title img {
  width: 160px;

}

.offcanvas-header button {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  padding: 0px;
}

.offcanvas-header span {
  background-color: var(--primary-color) !important;
  border: none !important;
  outline: none !important;
  color: #fff !important;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100px !important;
  font-size: 15px;
}

.offcanvas-body {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  padding: 0;
  margin: 0;
}

.mobile_navbar .main_ul {
  padding: 0;
  margin: 0;
}


.mobile_navbar .main_ul>li {
  list-style: none;
  border-bottom: 1px solid lightgrey;
  padding: 7px 15px 7px 25px;
  text-transform: uppercase;
}

.mobile_navbar .main_ul>li>a {
  text-transform: capitalize;
  font-size: 14px !important;
  font-weight: 400;
}

.mobile_navbar .main_ul > li > a > span {
  float: right;
  padding: 7px 15px 7px 25px;
  font-size: 16px;
  cursor: pointer;
}

.profile_card_body {
  padding: 0;
  margin: 0;
  border: none !important;
}

.profile_card_body>.profile_ul {
  padding: 0;
  margin: 0;
  background-color: var(--primary-color);
}

.profile_card_body>.profile_ul>li {
  list-style: none;
  border-bottom: 1px solid lightgrey;
  padding: 7px 15px 7px 25px;
  text-transform: capitalize;
}


.profile_card_body>.profile_ul>li>a {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.profile_card_body .profile_ul> li > span {
  float: right;
  padding: 7px 15px 7px 25px;
  font-size: 14px;
  color: #fff !important;
  cursor: pointer;
}

/*  */

.prodct_menu_cardbody {
  padding: 0;
  margin: 0;
  border: none !important;
}

.prodct_menu_cardbody>.product_menu_ul {
  padding: 0;
  margin: 0;
  background-color: #212121;
}

.prodct_menu_cardbody>.product_menu_ul>li {
  list-style: none;
  border-bottom: 1px solid lightgrey;
  padding: 7px 15px 7px 25px;
  text-transform: capitalize;
}


.prodct_menu_cardbody>.product_menu_ul>li>a {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.prodct_menu_cardbody>.product_menu_ul>li>span {
  float: right;
  padding: 7px 15px 7px 25px;
  font-size: 14px;
  color: #fff !important;
  cursor: pointer;
}


.prodct_submenu_cardbody>.submenu_ul>li>span {
  float: right;
  padding: 7px 15px 7px 25px;
  font-size: 14px;
  color: #fff !important;
  cursor: pointer;
}


/*  */


/*  */

.prodct_submenu_cardbody {
  padding: 0;
  margin: 0;
  border: none !important;
}

.prodct_submenu_cardbody>.submenu_ul {
  padding: 0;
  margin: 0;
  background-color: var(--primary-color);
}


.prodct_submenu_cardbody>.submenu_ul2 {
  padding: 0;
  margin: 0;
  background-color: #212121;
}

.prodct_submenu_cardbody>.submenu_ul>li {
  list-style: none;
  border-bottom: 1px solid lightgrey;
  padding: 7px 15px 7px 25px;
  text-transform: capitalize;
}


.prodct_submenu_cardbody>.submenu_ul>li>a {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  color: #fff;

}

.prodct_submenu_cardbody li a span {
  float: right;
  padding: 7px 15px 7px 25px;
}

.mobile_navbar .main_ul>li>a {
  color: #636161 !important;
  font-size: 14px !important;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: .3px;

  white-space: normal;
}

/*  */

/*  */

.offcanvas_search_input_div{
  padding: 10px;
}


.offcanvas_search_input_div .input-group ::placeholder {
  font-size: 14px;
  font-weight: 400;
}

.offcanvas_search_input_div .input-group input {
  margin-bottom: 0px;
  box-shadow: none !important;
  border-radius: 0px !important;
  outline: none !important;
  padding: 10px 0px 10px 10px;
}

.offcanvas_search_input_div .input-group-text {
  margin-bottom: 0px;
  box-shadow: none !important;
  border-radius: 0px !important;
  outline: none !important;
  background-color: transparent !important;
  padding-top: 13px;
  color: var(--primary-color);
}

.offcanvas_search_input_div .input-group span{
  cursor: pointer;
}


.offcanvas_conatct_div {
  padding: 7px 15px 7px 25px;


}

.offcanvas_conatct_div p {
  font-size: 14px;
  line-height: 23px;
  font-weight: normal;
  color: var(--black-color);
}

.followus_div b {
  color: var(--secondry-color);
  text-transform: capitalize;
}

.followus_div>li {
  display: inline-block;
}

.followus_div>li>a {
  margin: 0px 1px;
}

.followus_div > li:nth-child(1) > a {
  color: var(--primary-color);
  margin: 0px 10px 0px 0px;
  width: 40px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 100px;
  font-size: 20px;
  cursor: default;
  font-weight: 500;
}

.followus_div > li:nth-child(2) > a {
  background-color: #3b5998;
  width: 30px;
  line-height: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.followus_div>li:nth-child(3)>a {
  background-color: #962fbf;

  width: 30px;
  line-height: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.followus_div>li:nth-child(4)>a {
  background-color: #c4302b;

  width: 30px;
  line-height: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.offcanvas_conatct_div b {
  color: var(--secondry-color);
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
}

.offcanvas_conatct_div p a {
  display: block;
  color: rgb(51, 50, 50);
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;

}

.offcanvas_conatct_div p strong {
  font-size: 14px;
  color: gray;
}

.offcanvas_ti h3 {
  font-size: 20px;
  background-color: #212121;
  padding: 0px 15px 0px 25px;
  color: #fff;
  text-transform: capitalize;
}

/*  */


 .sub_menu_scroll {
   height: 440px;
   overflow-y: auto;
 }


 /* width */
 .sub_menu_scroll::-webkit-scrollbar {
   width: 5px;
 }

 /* Track */
 .sub_menu_scroll:hover::-webkit-scrollbar-track {
   background: #fff;
 }

 /* Handle */
 .sub_menu_scroll:hover::-webkit-scrollbar-thumb {
   background: #685c5c;
 }

 /* Handle on hover */
 .sub_menu_scroll:hover::-webkit-scrollbar-thumb:hover {
   background: #685c5c;
 }


 .slider_section_phone{
  display: none;
 }